
<%- include("./config/head", { title: "Login | Instagram"}) %>

<body class="w-full h-screen sm:bg-gray-50">
    <div class="cont w-full h-full flex flex-col justify-center sm:items-center gap-y-4">
        <form class="w-full bg-white grid px-3 sm:px-6 py-8 gap-y-3 sm:text-sm sm:gap-y-2 sm:w-[350px] sm:border sm:border-gray-300 sm:shadow-sm sm:shadow-blue-100">
            <!-- logo -->
            <div class="flex justify-center h-14 sm:h-12 mb-9">
                <img class="h-full " src="../images/config/instagram-text-logo.png" alt="">
            </div>

            <!-- phone field -->
            <div class="w-full">
                <input class="h-12 outline-blue-600 sm:h-9 bg-gray-50 w-full border border-gray-300 px-2 rounded-sm" type="text" name="" id="" placeholder="Phonenumber,email or username">
            </div>
            
            <!-- password field -->
            <div class="w-full relative ">
                <input class="h-12 outline-blue-600 sm:h-9 bg-gray-50 w-full border border-gray-300 px-2 rounded-sm" type="password" name="" id="" placeholder="Password">
                <i class="fas fa-eye absolute right-3 top-1/2 -translate-y-1/2 "></i>
            </div>

            <!-- login btn -->
            <button class="bg-blue-300 w-full text-white py-2 rounded-sm sm:py-1">Login</button>

            <!-- Or btn -->
            <div class="flex items-center my-4 mt-3">
                <hr class="flex-1 border-gray-300">
                <span class="mx-4">OR</span>
                <hr class="flex-1 border-gray-300">
            </div>

            <!-- login with facebook part -->
            <div class="flex justify-center items-center gap-x-2 mb-3">
                <i class="fab fa-facebook-f border border-blue-300 px-1 py-0.5 rounded-sm shadow-sm shadow-blue-500 "></i>
                <p class="text-blue-800 font-semibold text-lg sm:text-sm ">Login with facebook</p>
            </div>

            <!-- forget password part -->
            <div class="flex justify-center font-semibold text-blue-800">
                <a  href="#">Forget password?</a>
            </div>

        </form>

        <div class="w-full text-center py-4 sm:border sm:border-gray-300 sm:w-[350px] sm:shadow-sm sm:shadow-blue-100">
            <p>Don't have an account? <a class="text-blue-400 font-semibold" href="#">Signup</a></p>
        </div>
    </div>
</body>
</html>